.card:hover {
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;

}

.card-img-top:hover {
    scale: 1.05;
    transition: 300ms ease-in-out;

}

.card {
    margin: 20px 25px;
    border-radius: 20px;
    height: 400px;
    padding: 15px;
    box-shadow: 6px 6px 10px gray;
}

.card-text {
    font-size: 15px;
    text-decoration: none;
}

.card-img-top {
    width: 300px;
    height: 210px;
    margin-top: 10px;
    border-radius: 10%;
}

.card-text {
    font-family: poppins;
    font-size: 20px;
    font-weight: 1000;
    text-align: left;
}